
<h1>Lista de productos</h1>
<div id="listContainer">
    {{#each products}}
        <div class="product" style="display: flex; gap: 20px; align-items: center;">
            <div><a href="https://www.freeiconspng.com/img/3604" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/edit-icon-png-24.png" width="55" alt="Free Edit Vector" /></a></div>
            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <p>Category: {{category}}</p>
            <p>Price: {{price}}</p>
            <p>Id: {{id}}</p>
            <p>Code: {{code}}</p>
            <p>Stock: {{stock}}</p>
        </div>
    {{/each}}
</div>



